* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    background-color: grey;
}

.container {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 10fr;
    
}

.header {
    background-color: yellow;
    grid-area: 1 / 1 / 2 / -1;
}

.side {
    background-color: pink;
}

.content {
    background-color: rgb(0, 140, 255);
    display: flex;
    flex-direction: column;
    position: relative;
}

.content div {
    padding: 15px 15px;
}

.projectDiv {
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
    height: fit-content;
}

h4 {
    margin: 0%;
    padding: 0%;
}

button {
    display: inline;
}

.addTodoButton {
    color: red;
}

.popUp {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: blue;
    width: 800px;
    height: fit-content;
    top: 10%;
    left: 10%;
    
    
}

.popUp button {
    margin-top: 5vh;
    background-color: brown;
}

a {
    color:white;
    align-self: self-end;
    font-size: 20px;
}

a:hover {
    color:red;
    
}

